services:
  db:
    image: mysql:8.0
    container_name: wp_db
    restart: always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql

  wordpress:
    image: wordpress:latest
    container_name: wp_app
    restart: always
    ports:
      - "8000:80"
    env_file:
      - .env
    volumes:
      - ./wp-content:/var/www/html/wp-content
    depends_on:
      - db

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: wp_pma
    restart: always
    ports:
      - "8080:80"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  db_data:
